<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.david.gameofshapes" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".Activities.GameActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" >
        </activity>
        <activity
            android:name=".Activities.MenuActivity"
            android:label="Game Of Shapes"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.PuzzleSelectionActivity"
            android:label="Puzzle selection"
            android:screenOrientation="portrait"
            android:parentActivityName=".Activities.MenuActivity"
            android:theme="@style/AppTheme2" >
        </activity>
        <activity
            android:name=".Activities.SpeedRunActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" >
 >
        </activity>
        <activity
            android:name=".Activities.TutorialActivity"
            android:theme="@style/AppTheme3"
            android:label="@string/title_activity_tutorial" >
        </activity>
    </application>

</manifest>
